@charset "utf-8";
/* 카본뷰티 메인 css - main.css */

/* css머징 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);



/*font-family: 'Roboto', sans-serif;*/


body {
    padding-top: 240px;
    /*상단공간밀기*/
}


/*1. 상단영역(header.top/100%*82)*********************************/
#top {
    /*상단영역 최상위박스 고정하기*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 9999;
    /*가장위에*/
}

/*상단영역 inbox*/
#top .inbox {
    position: relative;
    /*부모자격*/
    width: 95%;
    /*%확장*/
}

.top {
    height: 82px;
    /*속박스 개별 높이값*/
}

/*1-1.중앙로고*/
#logo {
    position: relative;
    top: 11px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

/*1-2.햄버거,검색버튼*/
.btnGrp {
    position: absolute;
    top: 0;
    left: 0;
    /*    background-color: rgba(169, 159, 250, 0.84);*/
}

/*햄버거버튼박스*/
.btnGrp li:first-child {
    width: 86px;
    height: 82px;
}

/*햄버거메뉴아이콘*/
.ham {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*세로중앙이동*/
    width: 20px;
    height: 17px;
    /*    outline: 2px solid red;*/
    margin: 0 auto;
    /*중앙가로중앙-블록박스*/
    overflow: hidden;
    cursor: pointer;
}

/*햄버거 막대 공통*/
.ham span {
    position: relative;
    left: 0;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;

    /*트랜지션*/
    transition: left .4s ease-in-out;
}

/*햄버거버튼에 마우스 오버시 위치이동*/
.ham:hover span {
    left: 30px;
}

/*가상요소로 햄버거 막대 만들기*/
.ham span::before {
    content: "";
    display: block;
    margin-left: -30px;
    width: 20px;
    height: 3px;
    background-color: #000;

}

/*마지막span가상요소만 width변경하기*/
.ham span:last-child::before {
    width: 10px;
}

/*개별 막대 셋팅*/
.ham span:nth-child(1) {}

.ham span:nth-child(2) {
    margin-top: 4px;
}

.ham span:nth-child(3) {
    margin-top: 4px;
    width: 10px;

    /*트랜지션 속도 지연시간주기*/
    transition-delay: .1s;
}

/*검색버튼박스*/
.btnGrp li:last-child {
    width: 48px;
    height: 82px;
}

/*검색버튼 돋보기 박스*/
.magni {
    /*
    position: relative;
    top: 50%;
    transform: translateY(-50%);세로방향 중앙이동
*/
    line-height: 82px;
    /*svg태그가 인라인이기때문에 가능*/
    width: 19px;
    height: 17px;
    margin: 0 auto;
    /*가로방향 중앙이동*/
}

/*1-3.장바구니,문구박스*/
.rsGrp {
    position: absolute;
    top: 0;
    right: 0;
}

/*문구박스*/
.rsGrp li:first-child {
    width: 300px;
    height: 82px;
    font-size: 0.75rem;
    line-height: 82px;
}

/*앞문구*/
.rsGrp li:first-child > P > strong {
    font-family: Roboto;
    text-transform: uppercase;
    /*전체대문자변환*/
    letter-spacing: 3px;
    /*글자자간*/
}


.rsGrp li:first-child > P > span {
    display: inline-block;
    position: relative;
    width: 22px;
    margin: 0 10px;
    height: 9px;
}

.rsGrp li:first-child > P > span:before {
    background: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    content: "";
    right: 0;
}

/*장바구니박스*/
.rsGrp li:last-child {
    width: 90px;
    height: 82px;
    margin-left: 30px;
}

/*장바구니버튼 아이콘 박스*/
.cart {
    width: 15px;
    height: 19px;
    line-height: 82px;
}

/*2. 배너영역(section.ban/1200*500)****************************************/
#ban .inbox {
    margin: 0;
    /*가운데오기 해제*/
    width: 80%;
}

.ban {
    position: relative;
    /*부모자격*/
}

/*메인배너이미지*/
.ban img {
    width: 100%;
    /*height값은 자동*/
}

/*배너버튼*/
.banbtn {
    position: absolute;
    height: 90px;
    width: 23%;
    top: 34%;
    left: 13%;
    /*부모는?*/
    background-color: #fff;
    border: 0;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
}

/*마우스 오버시 가상요소 배경검정*/
.banbtn::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #000;
    transition: width .4s ease-in-out;


}

/*마우스 오버시 js로클래스 주기
배경가상요소 width 채우기*/
.banbtn.on::before {
    left: 0;
    width: 100%;
}

/*마우스 아웃시 js로클래스 주기
배경가상요소 width 없애기*/
.banbtn.off::before {
    right: 0;
    width: 0%;
}

/*마우스오버시 글자색 흰색*/
.banbtn.on > * {
    color: #fff;
}

.banbtn > * {
    position: relative;
    /*가상요소가 absolute이므로 다른 static요소들은 아래에 깔림
    그래서 겹칠 수 있는 position중 그자리에 가만히있는 relative를 주면 나중에 왔으므로 위에 위치할 수 있다.*/
}

/*큰글자*/
.banbtn strong {
    font-size: 24px;

}

/*위첨자*/
.banbtn sup {
    font-size: 12px;
}

/*아래글자*/
.banbtn span {
    font-size: 10px;
    display: block;
    padding-top: 10px;
    letter-spacing: 3px;

}

/*화살표*/
.banbtn b {
    float: right;
    margin-top: -31px;
    margin-right: 10px;
}


/*3. 상품리스트영역(section.glist/1200*2000)*/
.glist {
    /*height: 2000px;*/
    /*높이값을 주지 않고 auto인 상태로 셋팅함 - 자동으로 늘어나야함*/
}

/*상품박스*/
.gbx {
    width: 1440px;
    max-width: 100%;
    /*가로크기보다 작아질때 화면에 %적용*/
    display: flex;
    /*자식요소를 옆으로 흐르게 flex적용함*/
    justify-content: space-around;

}

/*상품박스 트랙 ul*/
.gbx ul {
    /*등분할하라는 명령(flex: 1;)*/
    flex-basis: 30%;
    /*width사이즈를 준것과 동일함
    특정 사이즈 줘야 justify-content가 적용됨!*/

}

/*상품박스 개별 리스트 li*/
.gbx li {
    position: relative;
    /*부모자격*/
    float: none;
    /*float:left해제*/
    background: #f4f2f4 url(../images/WEBSITE_Melt_Moisturizer_400x560.jpg)no-repeat center/100%;
    outline: 2px dotted red;
    margin: 10% 0;
    /*위아래 마진만 줌 (양쪽간격은 justify-content가 줌)*/
    cursor: pointer;

}

/*li에 비율박스 적용하기*/
.gbx li::before {
    content: '';
    display: block;
    padding-top: 150%;
}

/*비율유지 속박스*/
.ibx {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;

}

/*속박스 내의 직계자식들*/
.ibx > * {
    position: relative;
    z-index: 1;
    color: #fff;
    opacity: 0;
    transition: opacity .4s ease-out;
}

/*마우스오버시 속박스의 직계자식들 보이기*/
.gbx li:hover .ibx > * {
    opacity: 1;
}

/*마우스오버시 상품명보이기*/
.gbx li:hover .gname > span b {
    top: -2px;

    /*트랜지션: 속시이지*/
    transition: top .3s ease-out .4s;
    /*0.4초 후 등장*/
}

/*마우스오버시 상품명 밑줄양쪽으로 보이기*/
.gbx li:hover .gname span::after,
.gbx li:hover .gname span::before {
    width: 50%;
}

/*왼쪽바*/
.gbx li:hover .gname span::after {
    width: 50%;
    /*중앙을 기준함.(왼쪽방향)*/
    right: 50%;
    left: auto;
    /*처음기준값 해제*/
}

/*오른쪽바*/
.gbx li:hover .gname span::before {
    width: 50%;
    /*중앙을 기준함.(오른쪽방향)*/
    left: 50%;
    right: auto;
    /*처음기준값 해제*/
}



/*상품분류*/
.gcat {
    font-size: 12px;
    font-weight: normal;
}

/*상품명*/
.gname {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 20px;
    overflow: hidden;


}

/*상품명박스에 가상요소로 아랫줄 만들기*/
/*두개로 나눠서 만들자! 왜? 양쪽으로 사라져야하기때문*/

/*왼쪽절반*/
.gname span::after {
    
    content: '';
    position: absolute;
    width: 0%;
    /*변경포인트:가로크기없음*/
    bottom: 0;
    height: 2px;
    background-color: #fff;
    left: 0;
    /*기준변경:왼쪽끝*/

    transition: width .3s ease-out;
    /*트랜지션: 속시이지*/
}
/*오른쪽절반*/
.gname span::before {
    
    content: '';
    position: absolute;
    width: 0%;
    /*변경포인트:가로크기없음*/
    bottom: 0;
    height: 2px;
    background-color: #fff;
    right: 0;
    /*기준변경:오른쪽끝*/

    transition: width .3s ease-out;
    /*트랜지션: 속시이지*/
}


.gname span {
    position: relative;
    /*부모자격*/
}

/*상품명 글자 숨기기*/
.gname span b {
    position: relative;
    top: 25px;
    /*트랜지션: 속시이지*/
    transition: top .4s ease-out;
    /*오버시와 복귀할 경우 트랜지션을 각각 잡아준다*/

}


/*상품정보*/
.ginfo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    font-size: 12px;
    font-weight: normal;
}

/*가격*/
.ginfo span:last-child {
    float: right;
    /*인라인요소 오른쪽 보내기*/
    font-weight: normal;
}


/*가상요소로 반투명 커버 만들기*/
.gbx li::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.73);
    opacity: 0;
    transition: opacity .5s ease-out;
}

/*마우스 오버시 커버보이기*/
.gbx li:hover::after {
    opacity: 1;
}

/*마우스 오버시 가운데 두번째 커버안보이게 처리하기*/
.gbx ul:nth-child(2) li:nth-child(2):hover::after {
    opacity: 0;
}



/*4. 상품소개영역(section.gdetail/1200*1000)-2개영역*/
.gdetail {
    height: 1000px;
}

/*상품소개박스*/
.gdsec{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    /*넘치는 자식요소 숨기기*/
    outline: 2px dashed red;
}
/*상품소개 리스크 부모박스*/
.gdsec ul{
    width: 300%;
    height: 100%;
    
}
/*상품소개 리스트-li*/
.gdsec>ul>li{
    width: 33.33%;
    height: 100%;
    outline: 5px dotted orange;
}
/*각 li셋팅*/
.gdsec>ul>li:nth-child(1){
    background: url(../images/homepage_index1.jpg)no-repeat center/auto 100%;
}
.gdsec>ul>li:nth-child(2){
     background: url(../images/homepage_index2.jpg)no-repeat center/auto 100%;
}
.gdsec>ul>li:nth-child(3){
     background: url(../images/homepage_index3.jpg)no-repeat center/auto 100%;
}

/*5. 블로그링크영역(section.blog/1200*400)*/
.blog {
    height: 700px;
}

/*6. 하단영역(footer.info/1200*500)*/
.info {
    height: 500px;
}




